{% include "header.twig" %}

{% block navbar %} 
    {% include "navbarBlog.twig" %} 
{% endblock %}

<div class="main-container">	
    <main class="site-main topp">
        <!-- Page Content -->
        <div class="container-fluid no-left-padding no-right-padding no-top-padding page-content blog-single cover-fullwidth">
            <div class="row justify-content-center topp">
                <img src="{{article.imgUrl}}" class"topp" alt="Post" />
            </div>
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <!-- Content Area -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 content-area ">
                        <article class="type-post">                        
                            <div class="entry-content">
                                <div class="entry-header">	
                                    <span class="post-category "><a href="#" title="Lifestyle">{{category.name}}</a></span>
                                    <h3 class="entry-title text-uppercase">{{article.title}}</h3>
                                    <div class="post-meta">
                                        <span class="byline">BY <a href="#" title="Indesign">{{article.author}}</a></span>
                                        <span class="post-date"> {{article.updatedAt}}</span>
                                    </div>
                                </div>								
                                <p>{{article.content}}</p>                               
                            </div>
                        </article>                    
                        <!-- Comment Area -->
                        <div class="comments-area">
                            <h2 class="comments-title font-weight-bold">Comments</h2>
                            <ol class="comment-list">
                                {% for comment in comments %}                            
                                <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 parent">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img alt="img" src="/assets/img/gallery/no_img.png" width="60" class="avatar "/>
                                                <b class="fn">{{comment.username}}</b>
                                            </div>
                                            <div class="comment-metadata">
                                                <a href="#">{{comment.createdAt}}</a>											
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>{{comment.content}}</p>
                                        </div>                                            
                                    </div>
                                    
                                </li>
                                {% endfor %}
                            </ol><!-- comment-list /- -->
                            <!-- Comment Form -->
                            {% if isConnected %}
                            <div class="comment-respond">                            
                                <h2 class="comment-reply-title">Leave a Reply</h2>
                                <form method="post" class="comment-form" action=''>                                        
                                    <p class="comment-form-comment">
                                        <textarea id="comment" name="comment" placeholder="Enter your comment here..." rows="8" required></textarea>
                                    </p>
                                    <input type="hidden" name="articleId" value ="{{article.articleId}}">
                                    <p class="form-submit">
                                        <button class="btn btn-secondary float-right" type="submit" name="submit" value="createComment" >Send</button>
                                    </p>
                                </form>
                            </div><!-- Comment Form /- -->
                            {% else %}
                            <section class="container mb-4 ">
                                <div class="row align-items-center">
                                    <h6 class="mx-auto mt-2"><strong>To leave a reply you must be connected</strong></h6>
                                    <button class="btn btn-common mt-2 mx-auto" data-toggle="modal" data-target="#exampleModal">Login</button>
                                </div>                
                            </section>
                            {% endif %}
                        </div><!-- Comment Area /- -->
                    </div><!-- Content Area /- -->
                </div>
            </div><!-- Container /- -->
        </div><!-- Page Content /- -->
        
    </main>
		
</div>
	

{% include "footer.twig" %}

